name: "PR Management"

on:
  pull_request:

jobs:
  pr-metrics:
    name: PR Metrics
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: PR Metrics
        uses: microsoft/PR-Metrics@v1.7.7
        env:
          PR_METRICS_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Base size: The maximum number of new lines in an extra small PR. If left blank, a default of '200' will be used.
          base-size: 200 # optional
          # Growth rate: The growth rate applied to the base size for calculating the size of larger PRs. If left blank, a default of '2.0' will be used.
          growth-rate: 2.0 # optional
          # Test factor: The lines of test code expected for each line of product code. This check can be disabled by setting the value to '0'. If left blank, a default of '1.0' will be used.
          test-factor: 1.0 # optional
          # File matching patterns: Globs (https://aka.ms/PRMetrics/Globs) specifying the files and folders to include. Autogenerated files should typically be excluded. Excluded files will contain a comment to inform reviewers that they do not to need to review those files. If left blank, a default of '**/*' will be used.
          file-matching-patterns: |
            **/*
            !dist/*
            !dist/*/*
            !package-lock.json
            !LICENSE
          # Code file extensions: Extensions for files containing code so that non-code files can be excluded. If left blank, a default set of file extensions will be used.
          code-file-extensions: |
            ts
            js
          continue-on-error: true
